* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to left, #0072ff 70%, #fff 30%);
}

#header {
    display: flex;
    font-family: 'Questrial', Sans-Serif;
    font-size: 22px;
    font-weight: bold;
}

.links {
    display: flex;
    color: #000;
}

.link {
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

#hero {
    margin: 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* background-image: url('img/moon-back.jpg');
    background-size: cover; */
    color: #000;
    background: #fff;
    font-family: 'Questrial', Sans-Serif;
    font-size: 28px;
    box-shadow: 7px 7px 0 #fff;
    border: 2px solid #000;
}

.hero-container {
    /* text-shadow: 2px 2px 2px #000; */
}

#about {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.about-container {
    display: flex;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 30px;
    border-right: 1px solid #000;
    line-height: 2;
}

.about-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.about-img {

}

.about-text {
    font-family: 'Alegreya', Serif;
    font-size: 19px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
}

.projects-heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.projects-heading h2 {
    margin: 0;
    display: flex;
    align-items: center;
}

.projects-heading-img {
    width: 30%;
    align-self: center;
}

.project-content-container {
    padding: 0 50px;
    background: #fff;

}

.project-content {
    display: flex;
    background: #fff;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.project-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
}

.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.project {
    width: 75%;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #000;
}