* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    /* background: linear-gradient(to left, #0072ff 70%, #fff 30%); */
}

#header {
    position: fixed;
    top: 0;
    display: flex;
    font-family: 'Questrial', Sans-Serif;
    font-size: 22px;
    font-weight: bold;
}

.links {
    display: flex;
    color: #000;
}

.link {
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

.link:hover {
    border-bottom: 2px solid #000;
}

#hero {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(to left, #0072ff 70%, #fff 30%);
}

.hero-container {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 150px; */
    border: 2px solid #000;
    box-shadow: 7px 7px 0 #fff;
    font-size: 28px;
    color: #000;
    background: #fff;
    font-family: 'Questrial', Sans-Serif;
}

.introduction {
    display: none;
}

#about {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.about-container {
    display: flex;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 30px;
    border-right: 1px solid #000;
    line-height: 2;
}

.about-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.hidden {
    display: none;
}

.about-text {
    font-family: 'Alegreya', Serif;
    font-size: 19px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
}

.projects-heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Questrial', Sans-Serif;
    background: linear-gradient(to left, #0072ff 70%, #fff 30%);

}

.projects-heading h2 {
    margin: 0;
    display: flex;
    align-items: center;
    flex-basis: 30%;
    justify-content: center;
}

.projects-heading-img {
    width: 30%;
    align-self: center;
    display: flex;
    flex-basis: 70%;
    height: 125px;
}

.project-content-container {
    padding: 0 50px;
    background: #fff;

}

.project-content {
    display: flex;
    background: #fff;
    padding: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.project-content:last-child {
    border-bottom: none;
}

.project-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
}

.project-summary h2 {
    font-family: 'Questrial', Sans-Serif;
}

.project-summary p {
    font-family: 'Alegreya', Serif;
}

.bold-link {
    font-weight: bolder;
    text-decoration: underline;
}

.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.project-img a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    width: 75%;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #000;
}

.contact-container {
    display: flex;
    padding: 40px 0;
    background: linear-gradient(to left, #0072ff 70%, #fff 30%);

}

.contact-heading {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    justify-content: center;
    font-family: 'Questrial', Sans-Serif;
}

.forms-of-contact {
    display: flex;
    align-items: center;
    flex-basis: 70%;
    justify-content: space-evenly;
    color: #fff;
}

.flex {
    font-family: 'Questrial', Sans-Serif;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex img {
    width: 30%;
}

.flex a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 800px) {
    .hero-container {
        padding: 75px;
        margin: 0 40px;
        font-size: 22px;
    }

    .projects-heading {
        flex-direction: column;
        background: #0072ff;
        padding: 30px 0;
        color: #fff;
    }

    .projects-heading-img {
        display: none;
    }

    .contact {
        
    }

    .contact-container {
        flex-direction: column;
        background: #0072ff;
    }

    .contact-heading {
        display: none;
    }

    .flex p {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #header {
        display: none;
        font-size: 0;
    }

    #hero {
        margin: 0;
        background: none;
    }

    .hero-container {
        font-size: 14px;
    }

    #about {
        padding: 0;
    }

    .about-container {
        flex-direction: column-reverse;
    }

    .about-text-container {
        border: none;
    }

    .projects-container {
        padding: 0;
    }

    .projects-heading {
        flex-direction: column;
        background: #0072ff;
    }

    .projects-heading h2 {
        padding: 30px 0;
        color: #fff;
    }

    .projects-heading-img {
        display: none;
    }

    .project-content-container {
        padding: 0;
    }

    .project-content {
        flex-direction: column;
        padding: 0;
        padding-bottom: 20px;
        margin: 30px;
    }

    .contact-container {
        background: #0072ff;
        flex-direction: column;
    }

    .contact-heading {
        display: none;
    }

    .forms-of-contact-container {
        background: #0072ff;
    }

    .flex p {
        display: none;
    }
}