* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to left, #0072ff 70%, #fff 30%);
}

#header {
    display: flex;
    font-family: 'Questrial', Sans-Serif;
    font-size: 22px;
    font-weight: bold;
    /* color: white; */
}

.links {
    display: flex;
    color: #000;
}

.link {
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

#hero {
    margin: 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('img/background-image.jpg');
    background-size: cover;
    color: white;
    font-family: 'Questrial', Sans-Serif;
    font-size: 28px;
}

#about {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.about-text {
    font-family: 'Alegreya', Serif;
    font-size: 19px;
}

